<div class="row">
    <div class="col-md-6" style="padding: 40px 20px 40px 20px; text-align: center;">
        <p><strong>Help us bring smiles to needy kids on Christmas morning.</strong></p>
        <a class="btn btn-danger" href="/">Donate Now</a>
        <div class="row container">
            <img src="/assets/general_seal.png" alt="sealImage" style="height: 150px;width: 250px;margin-left: 30%;">
        </div>

        <p style="text-align: center;">
            Only volunteers sending gifts should contact us. Santa will not see your message here! If you’re seeking
            gifts, contact Santa’s Christmas volunteers through our seeking gifts page. If you want to give gifts, click
            below.
        </p>
        <a class="btn btn-success" href="/">Contact</a>
    </div>
    <div class="col-md-6" style="padding: 40px 20px 40px 20px;">
        <strong>Join Our Volunteer Elves</strong>
        <p>
            If you want to send gifts, we’ll email you in November when the USPS site opens for letter adoption by the
            public. If you’re seeking gifts, we’ll email you when the postal elves begin selecting letters to Santa for
            posting on the website. Please check only one box below.
        </p>
        <div class="row">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" placeholder="First Name" class="form-control">                      
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Last Name" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6">
                        <input type="text" placeholder="City" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input type="text" placeholder="State" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input type="text" placeholder="Postal Code" class="form-control">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="pb-2">
    <p>Be An Elf is a tax-exempt 501c3 children’s Christmas charity. Contributions are tax-deductible. We are not
        affiliated
        with USPS Operation Santa® but we support it by creating public awareness of the program online and in social
        media,
        by recruiting and orienting new volunteers to the program, and by offering tips to needy families writing to
        Santa.
        Be An Elf also uses donations to adopt letters to Santa and send gifts to the kids who wrote them. We will never
        share your info with third parties; see&nbsp;<a href="https://beanelf.org/privacy-policy/">Be An Elf’s privacy
            policy</a>.</p>
    <p>&copy; {{currentYear}} Be An Elf – All rights reserved.</p>
</div>